<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2010 Neustar, Inc. All Rights Reserved. THIS SOFTWARE 
	IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, 
	BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
	FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL NEUSTAR BE LIABLE 
	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
	SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
	CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
	OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE 
	USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
	$Id: web.xml,v 1.1.1.1 2010/03/03 05:58:18 Exp $ TOMCAT web.xml for DECE 
	API service Version: $Revision: 1.1.1.1 $ -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>MERC MT API REST WS</display-name>
	<description>MERC MT API REST WS</description>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/mt-business-application-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>REST Services</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
	</security-constraint>

	<filter> 
	     <filter-name>SecurityFilter</filter-name> 
	     <filter-class>biz.neustar.merc.mt.filter.SecurityFilter</filter-class> 
	</filter>
	  
	<filter-mapping> 
	     <filter-name>SecurityFilter</filter-name> 
	     <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<filter> 
	     <filter-name>CachingFilter</filter-name> 
	     <filter-class>biz.neustar.merc.mt.filter.CachingFilter</filter-class> 
	</filter>
	  
	<filter-mapping> 
	     <filter-name>CachingFilter</filter-name> 
	     <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	
	
	<filter> 
	     <filter-name>JsonXmlFilter</filter-name> 
	     <filter-class>biz.neustar.merc.mt.filter.JsonXmlFilter</filter-class> 
	</filter>
	  
	<filter-mapping> 
	     <filter-name>JsonXmlFilter</filter-name> 
	     <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<filter> 
	     <filter-name>ValidationFilter</filter-name> 
	     <filter-class>biz.neustar.merc.mt.filter.MTValidationFilter</filter-class>
	</filter>
	  
	<filter-mapping> 
	     <filter-name>ValidationFilter</filter-name> 
	     <url-pattern>/*</url-pattern> 
	</filter-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/1/0/*</url-pattern>
	</servlet-mapping>

</web-app>
