.RememberMe{padding-top:3px; padding-left:3px;}
.button_input .image_button{min-width:0px; *padding-left:10px; *padding-right:6px;}
.BrandDetailsView input{background:none; border:0px;}
.AccessLevels input{background:none; border:0px;}
.DropDownText{*margin:15px 0px 0px -206px}
.DropDownText a{width:100%; text-align:right;}