/*Slider CSS*/
.rich-inslider-handler  {
background:url("../images/slider.png") no-repeat scroll left top transparent;
height:11px;
margin-top:-3px;
width:18px;
}
.rich-inslider-handler-selected  {
background:url("../images/slider.png") no-repeat scroll left top transparent;
height:11px;
margin-top:-3px;
width:18px;
}
.rich-inslider-track-decor-2  {
border-color:#FFFFFF;	
}
.rich-inslider-track-decor-2 {
border:0;
}
.rich-inslider-track {
background-position:left top;
background-repeat:repeat-x;
font-size:1px;
height:4px;
}
.rich-inslider-track {
background-color:#CCCCCC;
}
.slider_outer{	
padding:0 10px;
margin-bottom:25px;
}
.slider_outer2{	
padding:0 10px;
margin-bottom:25px;	
}
.slider_outer span{
color:#fff;
float:left;
width:120px;
text-align:center;	
}
.slider_outer2 span{
color:#fff;
float:left;
width:108px;
text-align:center;
padding:0 0px 0 0;
text-decoration:none;
}
.slider_outer2 span label{
	text-decoration:none;
	}
.slider_outer2 span a{
	text-decoration:none;
	}
.slider_outer span a{
	text-decoration:none;
	}



